.transit {
  transition: left 1s, top 1s, right 1s, bottom 1s, width 1s, height 1s,
    transform 1s;
  -moz-transition: left 1s, top 1s, right 1s, bottom 1s, width 1s, height 1s,
    -moz-transform 1s;
  -webkit-transition: left 1s, top 1s, right 1s, bottom 1s, width 1s, height 1s,
    -webkit-transform 1s;
  -o-transition: left 1s, top 1s, right 1s, bottom 1s, width 1s, height 1s,
    -o-transform 1s;
}

.hidden {
  background-color: transparent;
  border: solid 2px blue;
}

.boxCommon {
  position: absolute;
}

.closeButton {
  display: none; /* hide the easyApp's close button because we have our own */
}

.thumbCommon {
  z-index: 2;
  box-shadow: 5px 5px 5px #000000;
}

.videoBox1 {
  display: flex;
  width: 95%;
  height: 270px;
  flex-direction: row;
  justify-content: center;
  background-color: #f3f5f9;
}

.videoBox2 {
  display: flex;
  width: 95%;
  height: 270px;
  flex-direction: row;
  justify-content: center;
  background-color: #f3f5f9;
}

.right-header {
  font-family: 'g';
  width: 100px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}
.right-header-selected-1 {
  font-weight: bold;
  background-color: #edf0f8;
  border-bottom: 3px solid #4766b8;
  color: #4766b8;
}
.right-header-selected-2 {
  font-weight: bold;
  background-color: #edf7f9;
  border-bottom: 3px solid #4dadc4;
  color: #4dadc4;
}
.right-header-selected-3 {
  font-weight: bold;
  background-color: #eff1f2;
  border-bottom: 3px solid #3b486b;
  color: #3b486b;
}
.chats {
  border-radius: 15px;
  font-family: 'g';
  height: auto;
  box-shadow: 0 8px 30px 0 rgba(75, 134, 149, 0.4);
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  width: 200px;
  font-size: 14px;
  margin-top: 20px;
}

body {
  background-color: #ffd0d0;
  margin-left: 0;
  margin-top: 0;
}

input::placeholder {
  color: #9fa1b8;
}
ul {
  list-style: none;
  padding-left: 0px;
}
.tab-content {
  display: none;
  flex-direction: column;
  flex: 1;
}

.tab-content.current {
  display: flex;
}

#controlArea {
  background-color: #ff8000;
}

#killButton {
  opacity: 0.7;
}

#killButton:hover {
  opacity: 1;
}

#muteButton {
  opacity: 0.7;
}

#muteButton:hover {
  opacity: 1;
}

#textentryBox {
  border: 2px solid #a0ffa0;
  border-radius: 10px;
  z-index: 5;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 5px 5px 5px #000000;
  font-family: 'Courier New', Courier, monospace;
}

#textentryField {
  font-size: x-large;
  margin: 20px;
}

#textentrySubmit {
  font-size: larger;
}

#textentryCancel {
  font-size: larger;
}
